<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      <div
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
        <a href="https://docs.qq.com/doc/DQldaaFZiT0ZvQ1BS" target="_blank" class="font-semibold text-indigo-600">
          <span class="absolute inset-0" aria-hidden="true"></span>了解更多<span aria-hidden="true">&rarr;</span>
        </a>
      </div>
    </div>
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        什么是 OpenSponsor?
      </h1>
      <div class="mt-6 text-lg leading-8 text-gray-600" fxLayoutGap="4px">
        open sponsor 是一个
        <mat-chip class="bg-amber-200">开放</mat-chip>
        <mat-chip class="bg-red-300">透明</mat-chip>
        <mat-chip class="bg-cyan-300">适用于项目</mat-chip>
        的资金捐助平台
      </div>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <app-recommend-we />
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <div ngClass="w-2/3" ngClass.lt-md="w-full" ngClass.gt-lg="w-1/2">
    <mat-card>
      <mat-card-content>
        <figure>
          <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
            <p>"资金是一个社区的长期良性发展的保障, 涉及到资金就会产生一系列问题.
              虽然社区和团队可以以
              <span class="bg-amber-400" matTooltip="例如支付宝/微信二维码等渠道">非标准化</span>
              的形式筹集资金, 但是仍然无法避免一些问题."</p>
          </blockquote>
          <figcaption class="mt-10">
            <div class="mt-4 flex items-center justify-center space-x-3 text-base">
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="8px grid">
                <div><mat-chip>如何公布预算?</mat-chip></div>
                <div><mat-chip>如何公布筹集目标完成比例?</mat-chip></div>
                <div><mat-chip>如何透明的展示资金动向?</mat-chip></div>
                <div><mat-chip>如何管理发票?</mat-chip></div>
                <div><mat-chip>如何支付团队成员费用?</mat-chip></div>
              </div>
            </div>
          </figcaption>
        </figure>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center mb-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">谁需要OpenSponsor?</h2>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px grid">
      <div fxFlex.lt-md="100">
        <mat-card class="shadow-none border-amber-400">
          <mat-card-header class="justify-center text-2xl">
            <mat-card-title>开源项目</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div fxFlex.lt-md="100">
      <mat-card class="shadow-none border-amber-400">
        <mat-card-header class="justify-center text-2xl">
          <mat-card-title>公益组织</mat-card-title>
        </mat-card-header>
      </mat-card>
      </div>
      <div fxFlex.lt-md="100">
        <mat-card class="shadow-none border-amber-400">
          <mat-card-header class="justify-center text-2xl">
            <mat-card-title>环境/动物保护组织</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div fxFlex.lt-md="100">
        <mat-card class="shadow-none border-amber-400">
          <mat-card-header class="justify-center text-2xl">
            <mat-card-title>学术会议</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        OpenSponsor的特点
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">专为长期项目设计, 提供多种付款方式, 以及周期性捐款、自定义捐款功能</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <app-recommend-we />
      </div>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"/>
              </svg>
            </div>
            公开透明
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            捐助者可以看到每一笔资金的流向
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"/>
              </svg>
            </div>
            团队优先
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            区别于服务个人IP的平台, 平台专为项目和团队设计
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"/>
              </svg>
            </div>
            功能强大
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            提供API接口, 社区和捐助者可以通过API获获取自己受捐助和捐助数据
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"/>
              </svg>
            </div>
            财务托管
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            提供财务托管, 和第三方财务机构托管服务
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">项目现状</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        仍在准备中 <br>
        在正式接受资金之前, 我们主要工作是平台功能规划和论证, 以及技术和UI设计
      </p>
      <p>
        <a mat-stroked-button color="primary" routerLink="/about">参与讨论</a>
      </p>
    </div>
  </div>
</div>
